# Node
node_modules/

# Vite / build outputs
dist/
build/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Local env files
.env
.env.*
.env.local

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# JetBrains
*.iml

# Coverage & caches
coverage/
.cache/
.parcel-cache/
/.next/
.turbo/

# Storybook
out/

# Misc
.history/
*.pem
*.key
